# Required for pip-compile to work
pip-tools

boto3

msgpack
msgpack_numpy
numpy
scipy
pandas

ipython
jupyter

matplotlib
mplcursors

rebound

cspyce
rms-oops
rms-polymath
rms-fpzip
rms-imgdisp
rms-interval
rms-julian
rms-pdstable
rms-pdstemplate
rms-psfmodel
rms-starcat
rms-tabulation
rms-vicar
